.App {
  text-align: center;
}

[data-style='orderOnline-container'] form {
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
}

[data-style='checkbox-container'] {
  text-align: right;
  margin-right: 2%;
}
